<p>
    <strong>Название факультета:</strong><br>
    <%= @faculty.name %> (<%= @faculty.short_name %>)
</p>

<p>
    <%= link_to 'Изменить факультет', edit_faculty_path(@faculty) %> |
    <%= link_to 'Вернутся к списку', faculties_path %>
</p>


