<p><strong>Фамилия И.О.: </strong><%=@user.name%></p>
<p><strong>Логин: </strong><%=@user.email%></p>
<p><strong>Телефон: </strong><%=@user.tel%></p>
<p><strong>Факультет: </strong><%=@user.faculty.short_name%></p>
