<p>
  <strong>Тип операции:</strong>
  <%= @operation.type_op %>
</p>

<p>
  <strong>Сумма:</strong>
  <%= @operation.sum %>
</p>

<p>
  <strong>Дата операции:</strong>
  <%=l @operation.date_op %>
</p>

<p>
  <strong>Комментарий:</strong>
  <%= @operation.text %>
</p>


<p>
    <a href="/operations" class="btn btn-large btn-primary enabled">Вернутся к списку</a>
</p>
